.order{
    height: 100vmin;
    overflow-y: scroll;
    margin-bottom: -21vmin;
}
.itemss{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}
.order{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:700px){
    .order{
        height: 180vmin;
    }
}